body
{
    background-color: #BF7F30;
}



h1
{
font-size: 2em;
font-style: oblique;
text-align: center;
}

h2
{
    font-size: larger;
    font-style: oblique;

}


article
{
    font-size: large;
    font-style: italic;
}

p
{
    font-size: large;
    font-style: inherit;
}


img
{
width: 400px;
}

main
{
   display: flex;
}

header
{
width: 90vw;
margin: auto;
}

nav
{
    width:25vw;

}

section
{
    width: 100%;

}

.btn
{
    display: inline-block;
    background: #ff910028;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin: 5px auto;
    padding: 1rem 1.5rem;
    box-shadow: 5px 5px rgba(0, 125, 255, 0.3);
}